<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]= "{exact : true}">
        <i class="icon" data-feather="home"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
      <a routerLink="/productos" routerLinkActive="active">
        <i class="icon" data-feather="box"></i>
        <span>Productos</span>
      </a>
    </li>

    <li>
  <a routerLink="/ventas" routerLinkActive="active">
    <i data-feather="shopping-cart" class="icon"></i>
    <span>Ventas</span>
  </a>
</li>

<li>
  <a routerLink="/clientes" routerLinkActive="active">
    <i data-feather="users" class="icon"></i>
    <span>Clientes</span>
  </a>
</li>

<li>
  <a routerLink="/ingresos" routerLinkActive="active">
    <i data-feather="dollar-sign" class="icon"></i>
    <span>Ingresos</span>
  </a>
</li>

  </ul>
</nav>

